<header>
  <div class="header-title">
    <h1>FulfillingDays</h1>
  </div>
</header>
  <div class="swiper-container">
   <div class="swiper-wrapper">
     <div class="swiper-slide content-1">
       <div class="concept">日々を記録していこう!</div>
       <%= link_to "日記を書く", root_path, class: 'btn btn-diary' %>
     </div>
     <div class="swiper-slide content-2">yahoo</div>
   </div>
   <div class="swiper-button-prev"></div>
   <div class="swiper-button-next"></div>
</div>
  <footer>
    <div class="foot">
  </footer>